

.feedback-btn{
    /* outline: none;
    
    border: 1px solid red;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer; */
font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.5em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;

}


.feedback-btn:hover { background: rgb(53, 167, 110); }
.feedback-btn:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}